<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.candid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/candid_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity"
            android:label = "@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainToZip"
            android:label = "@string/app_name"
            android:parentActivityName="com.android.candid.MainActivity">
            <intent-filter>
                <action android:name="com.android.candid.MainToZip" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainToCurrent"
            android:label = "@string/app_name"
            android:parentActivityName="com.android.candid.MainActivity">
            <intent-filter>
                <action android:name="com.android.candid.MainToCurrent" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CurrentToDetail"
            android:label = "@string/app_name"
            android:parentActivityName="com.android.candid.MainToCurrent">
            <intent-filter>
                <action android:name="com.android.candid.CurrentToDetail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>